<div class="text-center">
  <h2>Today's Blofs</h2>

  #foreach ($blog in $blogs)
    <li><h3 class="glyphicon glyphicon-glass"><a href="/blog/$blog.getId()">$blog.getName()</a></h3></li>
  #end
</div>
